<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SuperPhage</title>

    <link rel="stylesheet" href="/public/assets/w3.css">
    <style>
        img {
            margin: auto;
            display: block;
            max-width: 50vw;
            max-height: 50vh;

            min-width: 80px;
            min-height: 80px;
        }

        #img:hover img {
            max-width: 80vw;
            max-height: 80vh;
        }

        #img {
            max-width: calc(50vw + 81px);
            margin: 30px auto auto;
        }

        #img:hover {
            max-width: calc(80vw + 81px);
        }
    </style>
</head>
<body class="w3-blue-grey">

<header class="w3-container w3-indigo">
    <h2>SuperPhage <i>Beta</i></h2>
</header>
<div id="img" class="w3-padding-large w3-white w3-hover-pale-green w3-card-4">
    <div class="w3-container">
        <img src="{{ image }}" alt="{{ image }}" />
    </div>
</div>
</body>
</html>