img {
    margin: auto;
    display: block;
    max-width: 50vw;
    max-height: 50vh;

    min-width: 80px;
    min-height: 80px;
}

#img:hover img {
    max-width: 80vw;
    max-height: 80vh;
}

#img {
    max-width: calc(50vw + 81px);
    margin: 30px auto auto;
}

#img:hover {
    max-width: calc(80vw + 81px);
}
