<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SuperPhage</title>
    <link rel="stylesheet" href="/assets/w3.css">
    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">

    {% block head %}
    {% endblock %}
</head>
<body class="w3-blue-grey">

{%  block body %}
    <header class="w3-container w3-indigo">
        <h2>SuperPhage <i>Beta</i></h2>
    </header>
{% endblock %}
</body>
</html>